.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
